## ¿Qué es una variable?

In [62]:
longitud = float(input("Introduce la longitud: "))
longitud_r=round(longitud,2)
latitud = float(input("Introduce la latitud: "))
latitud_r=round(latitud,2)
print("la longitud es ",longitud_r," y la latitud es ",latitud_r)

la longitud es  45.99  y la latitud es  87.72

In [63]:
nombre=input("entre su nombre:")
print("Hola ",nombre," bienvenido a Python")

Hola  Pedro  bienvenido a Python

In [64]:
temperatura_C=float(input("Entre la temperatura en Celsius a convertir: "))
temperatura_F=temperatura_C*(9/5)+32
print(temperatura_C,"C es ",temperatura_F,"F")

75.98 C es  168.764 F

In [71]:
numero=int(input("Entre el número a evaluar:"))
for n in range(2,numero):
    if numero % n==0:
        print(numero," no es primo ",n," es el divisor")
        condicion=True
        
if condicion==False:
    print(numero," es primo")

### Booleanos

In [39]:
False

False

In [40]:
True

True

### Numéricas

Integers

In [41]:
2

2

In [42]:
3 + 5

8

Float

In [43]:
3.14159 + 2.71828

5.85987

Complex

In [44]:
imaginario = 3 + 5j

### String

In [45]:
"Hola, mundo"

'Hola, mundo'

### Operadores

Suma: +

Resta: -

Multiplicación: *

División: /

Potencia: **

## Definir variables

In [46]:
hola = "Hola, mundo"
hola

'Hola, mundo'

In [47]:
type(hola)

str

In [48]:
suma_variable = 3.14159 + 2.71828

In [49]:
type(suma_variable)

float

## Print

In [50]:
print(hola)

Hola, mundo

In [51]:
print(suma_variable)

5.85987

In [52]:
if suma_variable == str:
    print("Es un string")
else:
    print("No es un string")

No es un string

## Operaciones entre variables

In [53]:
# Suma
3 + 5

8

In [54]:
# Resta
3 - 5

-2

In [55]:
# Multiplicación
3 * 5

15

In [56]:
# División
3 / 5

0.6

In [57]:
# Potencia
3 ** 5

243

In [58]:
# Residuo
10 % 3

1

## Variables numéricas y no numéricas no se pueden operar entre si

In [59]:
adios = "Adios, mundo"
variable_int = 2 + 2
variable_bool = True
variable_complex = 3 + 5j

In [60]:
suma_variable = adios + variable_int

TypeError: can only concatenate str (not "int") to str

In [ ]:
suma_variable_2 = variable_complex + variable_int
print(suma_variable_2)

(7+5j)

In [ ]:
suma_variable_3 = variable_complex + variable_bool
print(suma_variable_3)

(4+5j)

In [ ]:
suma_strings = adios + " " + "cruel"
print(suma_strings)

Adios, mundo cruel

### Convertir tipos de variables

In [ ]:
variable_float = 3.14159

In [ ]:
print(variable_float)

3.14159

In [ ]:
variable_float_convertida = str(variable_float)
print(variable_float_convertida)

3.14159

In [ ]:
type(variable_float)

float

In [ ]:
type(variable_float_convertida)

str

In [ ]:
variable_float + " es igual a Pi"

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
variable_float_convertida + " es igual a Pi"

'3.14159 es igual a Pi'

In [ ]:
float(5)

5.0

In [ ]:
int(3.999999999)

3

In [ ]:
int("hola")

ValueError: invalid literal for int() with base 10: 'hola'

### Input

In [ ]:
valor_1 = input("Introduce el sumando 1: ")
valor_2 = input("Introduce el sumando 2: ")

In [ ]:
suma_inputs = valor_1 + valor_2

In [ ]:
print(suma_inputs)

1533

In [ ]:
suma_inputs_numerico = int(valor_1) + int(valor_2)

In [ ]:
print(suma_inputs_numerico)

48

In [ ]:
multiplo_1 = float(input("Introduce el primer número: "))
multiplo_2 = float(input("Introduce el segundo número: "))

In [ ]:
multiplicacion_inputs = multiplo_1 * multiplo_2

In [ ]:
print(multiplicacion_inputs)

19.743385200000002

### Dinámica: Clasificar si el número es par

In [ ]:
numero_ingresado = float(input("Introduce un número: "))

if numero_ingresado % 2 == 0:
    print("El número es par")
elif numero_ingresado == 1:
    print("El número es 1, no se puede dividir entre 2")
else:
    print("El número es impar")

El número es par

## Variables múltiples

In [ ]:
x, y, z = 4, 74, 1200

print(x)
print(y)
print(z)

4
74
1200

In [ ]:
coordenadas = input("Introduce las coordenadas x, y, z divididas por comas: ")
print(coordenadas)

4,74,1200

In [ ]:
x, y, z = coordenadas.split(",")

In [ ]:
print(x)
print(y)
print(z)

4
74
1200

## Darle sentido a las variables

Cuantitativa

In [ ]:
densidad_roca_1 = 1.25
densidad_roca_2 = 2.93
densidad_roca_3 = 3.1
densidad_roca_4 = 2.7

In [ ]:
densidad_media_rocas = (densidad_roca_1 + densidad_roca_2 + densidad_roca_3 + densidad_roca_4) / 4

print(densidad_media_rocas)

2.495

In [ ]:
#Concatenación de variables
print("La densidad media de las rocas es: ", densidad_media_rocas, "g/cm3")

La densidad media de las rocas es:  2.495 g/cm3

Cualitativas

In [ ]:
tipo_roca_1 = "caliza"
tipo_roca_2 = "granito"
tipo_roca_3 = "arenisca"
tipo_roca_4 = "arcillolita"

In [ ]:
print("La densidad de la roca", tipo_roca_1, "es", densidad_roca_1, "g/cm3")

La densidad de la roca caliza es 1.25 g/cm3

### Ejercicio OOIP

In [ ]:
porosidad = 0.25
net_pay = 50
area = 1000 #acres
sw = 0.25
boi = 1.1
cte = 1.5

In [ ]:
stooiip = (cte*area*net_pay*porosidad*(1-sw))/boi

print("Petroleo Original In Situ: ", stooiip, "mmbbbls")

Petroleo Original In Situ:  12784.090909090908 mmbbbls

## Redondear

In [ ]:
round(stooiip, 4)

12784.0909

## F-Strings

f"texto {variable:operador} más texto"

In [ ]:
print(f"stooiip: {stooiip:.4f}")

stooiip: 12784.0909

In [ ]:
rqd = (12 + 15 + 25 + 19 + 11) / (8 + 12 + 15 + 9 + 25 + 19 + 11 + 4)
rqd

0.7961165048543689

In [ ]:
print(f"El RQD en porcentaje es: {rqd:.2%}")

El RQD en porcentaje es: 79.61%

Esta fue la clase 1 de fundamentos de python