## ¿Qué es una variable?

### Booleanos

In [1]:
False

False

In [2]:
True

True

### Numéricas

Integers

In [ ]:
2

In [4]:
3 + 5

8

Float

In [6]:
3.14159 + 2.71828

5.85987

Complex

In [ ]:
imaginario = 3 + 5j

### String

In [7]:
"Hola, mundo"

'Hola, mundo'

### Operadores

Suma: +

Resta: -

Multiplicación: *

División: /

Potencia: **

## Definir variables

In [9]:
hola = "Hola, mundo"
hola

'Hola, mundo'

In [12]:
type(hola)

str

In [10]:
suma_variable = 3.14159 + 2.71828

In [13]:
type(suma_variable)

float

## Print

In [16]:
print(hola)

Hola, mundo

In [20]:
print(suma_variable)

5.85987

In [22]:
if suma_variable == str:
    print("Es un string")
else:
    print("No es un string")

No es un string

## Operaciones entre variables

In [50]:
# Suma
3 + 5

8

In [51]:
# Resta
3 - 5

-2

In [52]:
# Multiplicación
3 * 5

15

In [53]:
# División
3 / 5

0.6

In [54]:
# Potencia
3 ** 5

243

In [56]:
# Residuo
10 % 3

1

## Variables numéricas y no numéricas no se pueden operar entre si

In [25]:
adios = "Adios, mundo"
variable_int = 2 + 2
variable_bool = True
variable_complex = 3 + 5j

In [26]:
suma_variable = adios + variable_int

TypeError: can only concatenate str (not "int") to str

In [28]:
suma_variable_2 = variable_complex + variable_int
print(suma_variable_2)

(7+5j)

In [30]:
suma_variable_3 = variable_complex + variable_bool
print(suma_variable_3)

(4+5j)

In [32]:
suma_strings = adios + " " + "cruel"
print(suma_strings)

Adios, mundo cruel

### Convertir tipos de variables

In [33]:
variable_float = 3.14159

In [34]:
print(variable_float)

3.14159

In [35]:
variable_float_convertida = str(variable_float)
print(variable_float_convertida)

3.14159

In [37]:
type(variable_float)

float

In [36]:
type(variable_float_convertida)

str

In [38]:
variable_float + " es igual a Pi"

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [39]:
variable_float_convertida + " es igual a Pi"

'3.14159 es igual a Pi'

In [67]:
float(5)

5.0

In [74]:
int(3.999999999)

3

In [75]:
int("hola")

ValueError: invalid literal for int() with base 10: 'hola'

### Input

In [41]:
valor_1 = input("Introduce el sumando 1: ")
valor_2 = input("Introduce el sumando 2: ")

In [42]:
suma_inputs = valor_1 + valor_2

In [43]:
print(suma_inputs)

1533

In [44]:
suma_inputs_numerico = int(valor_1) + int(valor_2)

In [45]:
print(suma_inputs_numerico)

48

In [46]:
multiplo_1 = float(input("Introduce el primer número: "))
multiplo_2 = float(input("Introduce el segundo número: "))

In [48]:
multiplicacion_inputs = multiplo_1 * multiplo_2

In [49]:
print(multiplicacion_inputs)

19.743385200000002

### Dinámica: Clasificar si el número es par

In [59]:
numero_ingresado = float(input("Introduce un número: "))

if numero_ingresado % 2 == 0:
    print("El número es par")
elif numero_ingresado == 1:
    print("El número es 1, no se puede dividir entre 2")
else:
    print("El número es impar")

El número es par

## Variables múltiples

In [63]:
x, y, z = 4, 74, 1200

print(x)
print(y)
print(z)

4
74
1200

In [64]:
coordenadas = input("Introduce las coordenadas x, y, z divididas por comas: ")
print(coordenadas)

4,74,1200

In [65]:
x, y, z = coordenadas.split(",")

In [66]:
print(x)
print(y)
print(z)

4
74
1200

## Darle sentido a las variables

Cuantitativa

In [77]:
densidad_roca_1 = 1.25
densidad_roca_2 = 2.93
densidad_roca_3 = 3.1
densidad_roca_4 = 2.7

In [78]:
densidad_media_rocas = (densidad_roca_1 + densidad_roca_2 + densidad_roca_3 + densidad_roca_4) / 4

print(densidad_media_rocas)

2.495

In [79]:
#Concatenación de variables
print("La densidad media de las rocas es: ", densidad_media_rocas, "g/cm3")

La densidad media de las rocas es:  2.495 g/cm3

Cualitativas

In [80]:
tipo_roca_1 = "caliza"
tipo_roca_2 = "granito"
tipo_roca_3 = "arenisca"
tipo_roca_4 = "arcillolita"

In [82]:
print("La densidad de la roca", tipo_roca_1, "es", densidad_roca_1, "g/cm3")

La densidad de la roca caliza es 1.25 g/cm3

### Ejercicio OOIP

In [83]:
porosidad = 0.25
net_pay = 50
area = 1000 #acres
sw = 0.25
boi = 1.1
cte = 1.5

In [84]:
stooiip = (cte*area*net_pay*porosidad*(1-sw))/boi

print("Petroleo Original In Situ: ", stooiip, "mmbbbls")

Petroleo Original In Situ:  12784.090909090908 mmbbbls

## Redondear

In [88]:
round(stooiip, 4)

12784.0909

## F-Strings

f"texto {variable:operador} más texto"

In [89]:
print(f"stooiip: {stooiip:.4f}")

stooiip: 12784.0909

In [91]:
rqd = (12 + 15 + 25 + 19 + 11) / (8 + 12 + 15 + 9 + 25 + 19 + 11 + 4)
rqd

0.7961165048543689

In [93]:
print(f"El RQD en porcentaje es: {rqd:.2%}")

El RQD en porcentaje es: 79.61%

Esta fue la clase 1 de fundamentos de python